<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name ="UserContainer">
        <register type="SpaseHome.IBLL.IAccountService,SpaseHome.IBLL" mapTo="SpaseHome.BLL.AccountService,SpaseHome.BLL"/>
        <register type="SpaseHome.IBLL.IUserInfoService,SpaseHome.IBLL" mapTo="SpaseHome.BLL.UserInfoService,SpaseHome.BLL"/>
      </container>
    </containers>
  </unity>
</configuration> 
