
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterView.cshtml";
}
@section head{
    <link href="~/Content/PersonalCenter.css" rel="stylesheet" />
    <link href="~/plugin/emoji/public/style/emoji.css" rel="stylesheet" />
    <script src="~/plugin/emoji/code/jquery.emoticons.js"></script>

    <script>
        $(function () {
            $.emoticons({
                'activeCls': 'trigger-active'
            }, function (api) {
                var $content = $('#textbox');
                var $result = $('#AAA');
                $('#publish').click(function () {
                    $result.html(api.format($content.val()));
                });
            });

            addPic();

        });

        function display(dom) {
            var $dom = $(dom);
            var picbox = $('#selectpicbox');

            var h = $dom.height();
            var y = $dom.offset().top;
            var x = $dom.offset().left;

            var top = y + h;
            var left = x;

            picbox.css({ "top": top, "left": left, "display":"block" });

        }

        var index = 0;
        function addPic() {
            var addpic = $('#addpic');
            var selectfile = $('#selectfile');

            addpic.click(function () {
                selectfile.click();
            });

            selectfile.change(function (e) {

                var files = selectfile[0].files[0];
                if (window.FileReader) {//检测浏览器对FileReader的支持
                    var filereader = new FileReader();
                    filereader.readAsDataURL(files);//调用FileReader对象的方法
                    filereader.onloadend = function (e) {
                        path = e.target.result;

                        if (index < 9) {
                            var id = 'pic' + index;
                            addpic.before('<div class="pic"><img id="' + id + '" style="height:80px;"/><div class="close iconfont" onclick="removePic(this);"></div></div>');
                            index++;
                            $('#' + id).attr("src", path);
                        }
                    }
                }
                selectfile.val('');
            })

        }

        function removePic(dom) {
            $dom = $(dom);
            $dom.parent().remove();
        }

        function selectMsgType(dom) {
            $dom = $(dom);
            var msgmenu = $('.menutext');
            msgmenu.removeClass('menutextselect');
            $dom.addClass('menutextselect');
        }
    </script>
}
<!-- 左侧菜单 -->
<div class="main-nav-left">
    <!-- 个人信息 -->
    <div class="userInfo">
        <img class="headimg" src="~/images/head.jpg">
        <div class="username">
            <span>团子</span>
            <select class="userstate" name="" id="">
                <option value="">在线</option>
                <option value="">忙碌</option>
                <option value="">隐身</option>
                <option value="">离线</option>
            </select>
        </div>
        <div class="usergrade">
            <span>等级：</span>
            <span class="iconfont" style="color: rgb(235, 72, 72)"></span>
        </div>
        <div class="info">
            <div>
                <p class="count">12345</p>
                <p class="title">关注</p>
            </div>
            <div>
                <p class="count">345</p>
                <p class="title">粉丝</p>
            </div>
            <div>
                <p class="count">2345</p>
                <p class="title">动态</p>
            </div>
        </div>
    </div>
    <!-- 菜单 -->
    <div class="menu">
        <ul>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="main title">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="main title">热门</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="main title">广场</span>
                    </div>
                </a>
            </li>
            <li>
                <div style="height:1px;width:130px; background-color:#a5a5a5;margin:2px auto;"></div>
            </li>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="title">特别关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="title">悄悄关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="title">我的收藏</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>
                        <span class="iconfont"></span>
                        <span class="title">我的点赞</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>
<!--右侧菜单-->
<div class="main-right">

</div>
<!--中间部分-->
<div class="main-middle">
    <!--编辑框-->
    <div class="edit main-middle-w">
        <div class="title">
            <div class="left">
                <img src="~/images/logantext.png" />
            </div>
        </div>
        <div class="editbox">
            <div class="inputtext">
                <textarea id="textbox"></textarea>
            </div>
        </div>
        <div class="editbottom">
            <div class="left">
                <ul>
                    <li>
                        <div>
                            <span class="trigger iconfont"></span>
                        </div>
                    </li>
                    <li>
                        <div onclick="display(this);">
                            <span class="iconfont"></span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="iconfont">#</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="iconfont">@@</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right">
                <button id="publish">发布</button>
            </div>
        </div>
    </div>
    <!--状态类型选择菜单-->
    <div class="msgmenu main-middle-w">
        <div class="left">
            <ul>
                <li>
                    <div class="menutextselect menutext" onclick="selectMsgType(this)">全部</div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="menutext" onclick="selectMsgType(this)">原创</div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="menutext" onclick="selectMsgType(this)">图片</div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="menutext" onclick="selectMsgType(this)">文章</div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="menutext" onclick="selectMsgType(this)">问答</div>
                </li>
            </ul>
        </div>
        <div class="right">

        </div>
    </div>

    <div class="msg main-middle-w">
        <ul>
            <li>
                <div>

                </div>
            </li>
        </ul>
    </div>
    <p id="AAA"></p>

</div>

<div id="selectpicbox" class="selectpicbox">
    <div class="title">
        <h4>本地上传</h4>
    </div>
    <div class="piccount">
        <span style="padding:8px 0 2px 0;display:inline-block">共0张照片，还可以上传9张</span>
        <button class="tagbtn">添加标签</button>
    </div>
    <div class="picbox">
        @*<div class="pic">
            <img style="height:80px;" />
            <div class="close iconfont" onclick="removePic(this);"></div>
        </div>*@

        <div id="addpic" class="addpic">
            <div class="iconfont"></div>
        </div>

    </div>
    <input id="selectfile" type="file" accept="image/*" style="display:none" />
</div>


